<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PiWallet | {{obj['title']}}</title>
  {% endblock head %}
  <!-- Bluma.io -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
    integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>

  <style>
    nav {
      margin-bottom: 2.75rem;
    }

    #passshowhide {
      color: black;
      pointer-events: all;

    }

    #passshowhide:hover {
      cursor: pointer;
    }

    .navbarhide {
      display: block !important;
    }

    footer{
      margin-top: 5rem;
    }

    #about{
      margin-top: 2.75rem;
    }

  </style>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
        <h2 class="title">PiWallet</h2>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav-ham" id="nav-ham">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="nav-menu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>

        <a class="navbar-item" href="/#about">
          About
        </a>


      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if obj['title'] == "Home" %}
            <a class="button is-primary" href="{{url_for('user_register')}}">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="{{url_for('user_login')}}">
              Log in
            </a>
          </div>
          {% elif obj['title'] == "Register" %}
          <a class="button is-light" href="{{url_for('user_login')}}">
            Log in
          </a>
          {% elif obj['title'] == "Login" %}
          <a class="button is-primary" href="{{url_for('user_register')}}">
            Sign up
          </a>
          {% else %}
          <a class="button is-primary" href="{{url_for('logout')}}">
            <strong>Logout</strong>
          </a>
          {%endif%}

        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %} {% endblock content %}
  </div>



  <footer>
    <p class="content has-text-centered">Made with ❤️ by <a href="https://pvcodes.in" target="_blank">Pranjal Verma</a>
    </p>
  </footer>

  <script src="{{url_for('static',filename='script.js')}}"></script>
</body>

</html>