{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}


<div class="card">
  <div class="card-content">

    <p>
      Welcome to <strong>PiWallet</strong> , the secure password manager that lets you store all your login credentials
      with encryption,
      making sure your personal information is always safe and secure.
    </p>
    <br>
    <p> With <strong>PiWallet</strong> , you can forget about memorizing all your passwords and instead focus on what
      really matters. Our
      user-friendly app allows you to easily store all your login credentials in one place, and with our high-level
      encryption, you can rest assured that your personal information is always safe.
    </p>
    <p>
      Creating a <strong>PiWallet</strong> account is easy and fast. Simply sign up and create a strong master password
      to secure your
      account. Once you're in, you can add as many login credentials as you need for all your online accounts.
    </p>

    <!-- <div class="content" id="about">
      <h3 class="title">About</h3>
      <br>
    </div> -->
    <br>
    <br>
    <br>
    <article class="message is-primary">
      <!-- <div class="message-header">
        <p>Want to contribute? </p>
        <button class="delete" aria-label="delete"></button>
      </div> -->
      <div class="message-body">
        <ul>
          <li>This project is still in development, Some of the functionality may not work. If you face any, please
            report <a href="https://github.com/pvcodes/pi_wallet/issues/new" class="is-link" target="_blank">here</a>.
          </li>
          <li> Wanted to contribute to the project? Have a look at the <a href="https://github.com/pvcodes/pi_wallet"
              class="is-link">project
              repository</a>, and read how you can <a href="https://github.com/pvcodes/pi_wallet#how-to-contribute"
              class="is-link" target="_blank">contribute</a>.
          </li>
        </ul>
      </div>
    </article>
  </div>
</div>

{% endblock content %}