{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}


<div class="card">
  <div class="card-content">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore nulla dolores magni ratione culpa laudantium
      maxime facilis at tenetur deleniti numquam aut nemo dolore iusto, atque soluta facere magnam quia!</p>
    <div class="content" id="about">
      <h3 class="title">About</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. 
      <br>
    </div>
  </div>
</div>

{% endblock content %}