{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block head %}
{{ super() }}


{% endblock head %}
{% block content %}


<div class="card">
  <div class="card-content">
    <h1 class="title">Register here!</h1>
    <div class="content">
      <form action="{{url_for('user_register')}}" method="post">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="John Doe" />
          </div>
        </div>

        <div class="field">
          <label class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input " type="text" placeholder="pvcodes" name="uname" value="{{obj['uname']}}" />

            <span class=" icon is-small is-left">
              <i class="fas fa-user"></i>

            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="yourusername@email.com" name="email"
              value="{{obj['email']}}" />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <!-- <p class="help is-danger">This email is invalid</p> -->
        </div>

        <div class="field">
          <!-- <input type="checkbox" onclick="showPassword()" /> -->
          <!-- <input type="checkbox" onclick="showPassword()" /> -->
          <label class="label">Password </label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="********" name="pswrd" id="pswrd"
              value="{{obj['pswrd']}}" />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right" id="span-eye">
              <i class="fas fa-eye" onclick="showPassword()" id="passshowhide"></i>
            </span>
          </div>
          <!-- <p class="help is-danger">This email is invalid</p> -->
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" required>
              I agree to the <a onclick="showTNC()">terms and conditions</a>
              <div class="modal termncontions">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <!-- Any other Bulma elements you want -->
                  <!-- <h1 class="title">this is a modal</h1> -->
                  <div class="card">
                    <div class="card-content">
                      <div class="content">


                        <strong>Terms &amp; Conditions</strong>
                        <p>
                          By downloading or using the app, these terms will
                          automatically apply to you – you should make sure therefore
                          that you read them carefully before using the app. You’re not
                          allowed to copy, or modify the app, any part of the app, or
                          our trademarks in any way. You’re not allowed to attempt to
                          extract the source code of the app, and you also shouldn’t try
                          to translate the app into other languages, or make derivative
                          versions. The app itself, and all the trade marks, copyright,
                          database rights and other intellectual property rights related
                          to it, still belong to Pranjal Verma.
                        </p>
                        <p>
                          Pranjal Verma is committed to ensuring that the app is
                          as useful and efficient as possible. For that reason, we
                          reserve the right to make changes to the app or to charge for
                          its services, at any time and for any reason. We will never
                          charge you for the app or its services without making it very
                          clear to you exactly what you’re paying for.
                        </p>
                        <p>
                          The PiWallet app stores and processes personal data that
                          you have provided to us, in order to provide my
                          Service. It’s your responsibility to keep your phone and
                          access to the app secure. We therefore recommend that you do
                          not jailbreak or root your phone, which is the process of
                          removing software restrictions and limitations imposed by the
                          official operating system of your device. It could make your
                          phone vulnerable to malware/viruses/malicious programs,
                          compromise your phone’s security features and it could mean
                          that the PiWallet app won’t work properly or at all.
                        </p>
                        <div>
                          <p>
                            The app does use third party services that declare their own
                            Terms and Conditions.
                          </p>
                          <!-- <p>
                            Link to Terms and Conditions of third party service
                            providers used by the app
                          </p> -->
                          <!-- <ul>
                            <li><a href="https://policies.google.com/terms" target="_blank"
                                rel="noopener noreferrer">Google Play Services</a></li>
                            <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                          </ul> -->
                        </div>
                        <p>
                          You should be aware that there are certain things that
                          Pranjal Verma will not take responsibility for. Certain
                          functions of the app will require the app to have an active
                          internet connection. The connection can be Wi-Fi, or provided
                          by your mobile network provider, but Pranjal Verma
                          cannot take responsibility for the app not working at full
                          functionality if you don’t have access to Wi-Fi, and you don’t
                          have any of your data allowance left.
                        </p>
                        <p></p>
                        <p>
                          If you’re using the app outside of an area with Wi-Fi, you
                          should remember that your terms of the agreement with your
                          mobile network provider will still apply. As a result, you may
                          be charged by your mobile provider for the cost of data for
                          the duration of the connection while accessing the app, or
                          other third party charges. In using the app, you’re accepting
                          responsibility for any such charges, including roaming data
                          charges if you use the app outside of your home territory
                          (i.e. region or country) without turning off data roaming. If
                          you are not the bill payer for the device on which you’re
                          using the app, please be aware that we assume that you have
                          received permission from the bill payer for using the app.
                        </p>
                        <p>
                          Along the same lines, Pranjal Verma cannot always take
                          responsibility for the way you use the app i.e. You need to
                          make sure that your device stays charged – if it runs out of
                          battery and you can’t turn it on to avail the Service,
                          Pranjal Verma cannot accept responsibility.
                        </p>
                        <p>
                          With respect to Pranjal Verma’s responsibility for your
                          use of the app, when you’re using the app, it’s important to
                          bear in mind that although we endeavour to ensure that it is
                          updated and correct at all times, we do rely on third parties
                          to provide information to us so that we can make it available
                          to you. Pranjal Verma accepts no liability for any
                          loss, direct or indirect, you experience as a result of
                          relying wholly on this functionality of the app.
                        </p>
                        <p>
                          At some point, we may wish to update the app. The app is
                          currently available on Android &amp; iOS – the requirements for
                          both systems(and for any additional systems we
                          decide to extend the availability of the app to) may change,
                          and you’ll need to download the updates if you want to keep
                          using the app. Pranjal Verma does not promise that it
                          will always update the app so that it is relevant to you
                          and/or works with the Android &amp; iOS version that you have
                          installed on your device. However, you promise to always
                          accept updates to the application when offered to you, We may
                          also wish to stop providing the app, and may terminate use of
                          it at any time without giving notice of termination to you.
                          Unless we tell you otherwise, upon any termination, (a) the
                          rights and licenses granted to you in these terms will end;
                          (b) you must stop using the app, and (if needed) delete it
                          from your device.
                        </p>
                        <p><strong>Changes to This Terms and Conditions</strong></p>
                        <p>
                          I may update our Terms and Conditions
                          from time to time. Thus, you are advised to review this page
                          periodically for any changes. I will
                          notify you of any changes by posting the new Terms and
                          Conditions on this page.
                        </p>
                        <p>
                          These terms and conditions are effective as of 2021-07-02
                        </p>
                        <p><strong>Contact Us</strong></p>
                        <p>
                          If you have any questions or suggestions about my
                          Terms and Conditions, do not hesitate to contact me
                          at <a href="mailto:piwallet0@gmail.com">piwallet0@gmail.com</a>.
                        </p>


                      </div>
                    </div>
                  </div>
                </div>
                <button class="modal-close is-large" aria-label="close" id="tncBtn" onclick="closeTNC()">Close</button>
              </div>
            </label>
          </div>
        </div>
        <p class="help">{% if obj['errormsg'] %} {{obj['errormsg']}} {% endif %}</p>

        <div class="field is-grouped">
          <div class="control">
            <!-- <button class="button is-link">Submit</button> -->
            <button type="submit" class="button is-link">{{obj['title']}}</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>



<!-- <h3><a href="{{url_for('user_login')}}">LoginHere</a></h3>
<h3><a href="{{url_for('root')}}">HomePage</a></h3> -->

<!-- <input type="text" name="uname" value="{{obj['uname']}}" />
<input type="email" name="email" value="{{obj['email']}}" />
<input type="password" name="pswrd" id="pswrd" value="{{obj['pswrd']}}" /> -->

<!-- </form> -->
<script>
  let tnc = document.getElementsByClassName('termncontions')[0]
  console.log(tnc.classList)
  let btn_tnc = document.getElementById('tncBtn')

  function closeTNC() {
    // if (tnc.classList.contains('is-active')) {
    tnc.classList.remove('is-active');
    // } else {
    // }
  }
  function showTNC() {
    tnc.classList.add('is-active');
  }

</script>
{% endblock content %}